<section layout="row" layout-sm="column" ng-form="vm.loginForm">
    <md-input-container>
        <label>Username</label>
        <input type="text" name="username" ng-model="vm.username" required>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="password" name="password" ng-model="vm.password" required>
    </md-input-container>
</section>
<section layout="row" layout-sm="column">
    <md-button class="md-raised md-primary" ng-click="vm.login()">Login</md-button>
</section>
